$font_color : #fff;
$ui_accent : #538a9a;
$gradient_start : #4e7a89;
$graident_end : #2e3441;
$avatar_size : 100px;

$white: #fff;
$black: #182b4d;
$m-white: #f7fafc;
$m-black: #868686;
$blue-gray: #bad3d6;

$principal: #007281;
$secundario: #6bc8ff;

$icons: #adb5bd;

